*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.card{
    width: 50%;
    border-radius: 8px;
    padding: 10px;
}

.container{
    box-shadow: 0px 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

button{
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}